@charset "UTF-8";


/* Mobile first */

@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

:root {
    --fonte-padrao: "Anta", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #000000e5; 
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: #00000046;
    box-shadow: 0px 0px 10px #00000094;
    height: 520px;
    width: 280px;
    border-radius: 16px;
    overflow: hidden;
}

.login .imagem {
    background: #ff0000 url('../images/backlogin.jpg') no-repeat;
    background-size: cover;
    display: block;
    height: 160px;
}

.login .formulario h1 {
    color: #ddd;
    font-family: var(--fonte-padrao);
    font-size: 2em;
    text-align: center;
    margin: 14px 0px;
}

.login .formulario p {
    color: #ddd;
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
    text-align: justify;
    margin: 0px 10px 14px;
}

.login .formulario .form-1 {
    display: block;
    width: 100%;
}


.login .formulario .campo {
    margin-bottom: 14px;

    display: flex;
    align-items: center;
}

.login .formulario .campo label {
    display: none;
} 

.login .formulario .campo input {
    background-color: transparent;
    color: #fff;
    display: inline-block;
    width: calc(100% - 55px);
    font-size: 1em;
    margin: 0px 6px;
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
}

.login .formulario .campo input:focus-within {
    border-bottom: 2px solid #ff0000;
}

.login .formulario .campo .icon {
    color: #fff;
    font-size: 2em;
    width: 50px;
    padding: 5px;
}

.login .formulario .btn-1 {
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    border: none;
    border: 2px solid #ff0000;
    border-radius: 16px;
    display: block;
    width: 80%;
    margin: 20px auto;
    cursor: pointer;
    padding: 8px;
    text-transform: uppercase;
}

.login .formulario .btn-1:hover {
    background-color: #ff0000;
    color: #000;
    text-transform: uppercase;
    transition: .7s;
}

.login .formulario .btn-2 {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
}

@media screen and (orientation: landscape) {
        /* fazer configurações para modo paisagem */
}